body {
  text-align: center;
}

button {
  margin: 20px;
  border-width: 3px;
  border-style: double;
  border-color: gray;
  padding: 10px;
  background-color: red;
  color: white;

  /* 👇 YOUR CODE HERE 👇 */
}
